body{
    background-color: #292c35;
}

button{
    background-color: #40444d;
    border: none;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    border-radius: 0.5em;
    color: #fff;
    width: 90%;
    height: 60px
    
}

#canvas{
    border: 10px solid #40444d; 
}

#buttonSide{
    
    width: 10%;
    float: left;
    padding-top: 18%;
}

.sepButton{
    padding: 20px;
}

#canvasContent{
    width: 43.05%;
    float: left;
}